 
 body{
  color:black;
  background-image : url("../images/bg_karyawan.jpg");
  position:relative;
  font-family: :"Times New Roman" !important;
 }
 .big {
  font-size : 100px;
  margin-bottom:0;
  position:relative;
 }
 .input-group{
  margin-top:9px;
 }
 .input-group-addon {
 background:white;
 }
 .login-box{
    background: #fbfbfb;
    width: 500px;
    margin-top: 11%;
    margin-right: auto;
    margin-left: auto;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding: 50px 30px 45px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 5px #F003;
  }
.login-header,.navbar-header {
 font-size:35px;
 margin-bottom: 15px;
 text-decoration:none;
 line-height:1.5;
}
.navbar .navbar-right {
 font-size:25px;
}
.login-header a,.navbar-header a,.navbar-right a{
 text-decoration:none;
 color:black;
}
.banner-header {
 margin: 5px 5px;
}
.login-body {
 padding : 3%;
}
.tambahan-link {
 margin : 5px 0;
}